html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 5rem;
	margin-bottom: 60px;		/* Margin bottom by footer height */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;		/* Set the fixed height of the footer here */
	line-height: 60px;		/* Vertically center the text there */
	background-color: #f5f5f5;
}

/* TABLES */
.table td {
	text-align: center;
}

.table td:first-child {
	text-align: inherit;
	text-transform: uppercase;
}

.table thead th {
	border-bottom: none;
}

.table th.rotate{
	height: 160px;
	min-width: 40px;
	padding: 0px;
}

table.dataTable.table-sm>thead>tr>th {		/* needed to beat a highly specific line in Datatables Bootstrap CSS */
    padding-right: 0px;
}

.table th.rotate div {
	position: relative;
	top: 0px;
	transform: skew(-45deg,0deg);
	left: 80px;
	height: 100%;
	border-left: 1px solid;
	cursor: pointer;
}

.table th.rotate span {
	transform:
		skew(45deg,0deg)
		rotate(-45deg);
	position: absolute;
	bottom: 15px;
	display: inline-block;
	width: 100%;
	text-align: left;
	white-space: nowrap;
}

.table thead th:last-of-type {
	width: 200px;
}

.table thead th:last-of-type span {
	bottom: 60px;		/* done by eye */
	left: -60px;		/* done by eye */
}

.table tr td:last-of-type {
	text-align: left;
}

/* Sort arrows (before = up; after = down) */
.table th:before {
	left: 0.5em;
}

.table th:after {
	left: 0.85em;
}

.table th.rotate:before {		/* 160px here is the the height (and width of the corresponding right-angled triangle) */
	left: calc(160px - 0.35em);
}

.table th.rotate:after {
	left: 160px;
}

/* Borders */
.table th {
	border-top: none;
}

.table td {
	border-top: none;
	border-bottom: none;
}

.table td.left-border {
	border-left: 1px rgb(33,37,41) solid;		/* picked to match existing table styles */
}

/* Special cell styling */
.table td span.pupilNumbersFlagged {
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

/* Table top section */
div.tableTop div.dataTables_filter {
	display: flex;
	justify-content: flex-end;
}

/* Table bottom section*/
div.tableBottom {
	padding-top: 0.5em;
}

div.tableBottom .row {
	margin-left: 0;
	margin-right: 0;
}

div.tableBottom div.dataTables_length {
	display: flex;
	justify-content: flex-start;
}

div.tableBottom div.dataTables_info {
	padding-top: 0;		/* removing default Datatables Bootstrap padding */
	display: flex;
	justify-content: flex-end;
}
